body { background-color: #5f7395; color: #333; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 30em;
  border: 2px solid red;
  padding: 1em;
  padding-bottom: 1em;
  margin-bottom: 1em;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: center;
  font-weight: bold;
  padding: 2px 2px 2px 2px;
  font-size: 12px;
  margin: 0px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 2px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

#main {
	background-color: #fff;
	border: solid #000 1px;
	margin: 5em;
	height: 30em;
	padding: 1em;
}

#notice {
	background-color: #e1facf;
	border: solid #97C36d 1px;
	padding: 0.5em;
}

#topNav {
	text-align: right;
	/* border: solid #97C36d 1px; */
}

.formList {
	list-style: none;
}

#products-table {
	width: 80%;
}

#products-table td,th {
	text-align: left;
	width: 15em;
}