<h1>Sinks</h1>

<% if !@sinks.nil? %>

	<% @sinks.each do |sink| %>
		<%= sink.name.capitalize %></strong>: 
		<% if sink.running %> 
			<font color='royalblue'>running</font> <%= image_tag("water_drop_16px.png", :class => 'icon') %>
		<% else %>
			<font color='gray'>off</font>
		<% end %>
		<br>
	<% end %>
	
	<br>

	<div class="left" id="graph">
		<h1>Time of Day</h1>
		<%# image_tag 'graph_placeholder.jpg' %>
		<div id="sink-time-of-day" class="overview-graph"></div>
	</div>

	<div class="center" id="log">
		<h1>Watering Log</h1>

		<% @sinks.each do |sink| %>
			<strong><%= sink.name %></strong><br>
		
			<!-- I can't figure out a cooler way to do this with scopes -->
			<% running_sinks = sink.versions.find_all{ |v| v.running == true } %>
		
			<% running_sinks.each do |rs| %>
				<%= format_log_date rs.updated_at %><br>
			<% end %>

			<%# format_log_date Sink.first.updated_at %>
		<% end %>
	</div>

<% else %>
	No data.  Register a sensor and let a sensor run.
<% end %>
